// .navbar {
//     font-family: Roboto, Helvetica;
//     font-size: 16px;
//     font-weight: light;
//     color: white !important;
//     background-color: #1976d2 !important;
//     z-index: 100;
//     position: sticky;
//     max-height: 50px;
//     top: 0;

//     mark {
//         background-color: yellow;
//         padding: 5px 10px;
//         color: red;
//         font-weight: bold;
//         border-radius: 2px;
//         transform: rotate(-40deg);
//         margin-left: -10px
//     }

//     .nav-link {
//         color: white !important;
//     }

//     box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);

//     .nav-item {
//         position: relative;

//         i {
//             font-size: 40px;
//             text-align: center;
//         }

//         .recieved {
//             position: absolute;
//             top: 0;
//             right: 50%;
//             height: 20px;
//             width: 20px;
//             border-radius: 50%;
//             background-color: yellow;
//             color: black;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }

//     }
// }

// .dashboard {
//     position: relative;

//     span {
//         position: absolute;
//         top: 0;
//         right: 0;
//         height: 20px;
//         width: 20px;
//         border-radius: 50%;
//         background-color: darkred;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }

.cart-item {
    position: relative;
    .cart-count {
        position: absolute;
        // top: -9%;
        // right: 20%;
        background-color: lightgreen;
        color: rgba(0, 0, 0, 1);
        font-size: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        text-align: center;
    }
}

// .dropdown-item {
//     cursor: pointer;
// }

// i {
//     cursor: pointer;
// }

.material-icons{
    font-size: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.nav-wrapper ul li{
    width: 35px;
    margin: 0px 10px;
}

.cart-count{
    color: black;
}