<app-navbar [user]="currentUser"></app-navbar>

<router-outlet></router-outlet>



<footer class="page-footer pink lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">F For Food is an emerging ecommerce industry in Bangladesh</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
                    ipsa deleniti eos odit consequatur ipsam. Eaque culpa veritatis ullam et hic, eligendi, fuga, sint
                    mollitia nulla quisquam molestias modi doloremque!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Follow us on</h5>
                <div class="social-menu">
                    <ul>
                        <li><a href=""><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a href="" target="blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter" target="blank"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright Reserved
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>