
input[type=text]{
  width: 250px;
  margin: 50px 0px;
}
input[type=text]:focus{
  border-bottom: #e21b70;
}
.products{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
}
ul{
  li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container{
  button{
    margin: 0px 20px;
  }
}
.filter-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-card{
  padding: 2px 5px;
  box-shadow: 0 .1rem .5rem rgba(0,0,0,.15);
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  &:hover{
    // box-shadow: 0.5rem .4rem 1rem rgba(0,0,0,.15);
    // transform: translateY(-5px);
  }
  &__info{
    h5{
      font-size: 20px;
      font-weight: bold;
    }
    h6{
      font-size: 20px;
      color: grey;
    }
    .text-btn{
      display: flex;
      justify-content: space-between;
    }
  }
  &__img{
    overflow: hidden;
    img{
      width: 118px;
      height: 100%;
      transition: all 0.5s;
      &:hover{
        transform: scale(1.5);
      }
    
    
    }
  }
}


.left-side{
  float: left;
  width: 70%;
  padding-left: 30px;
  @media screen and (max-width: 600px) {
    padding-left: 10px;
    width: 100%;
  }
}

.right-side{
  float: right;
  // width: 100px;
  margin-right: 10px;
  position: sticky;
  top: 100px;
  button{
    border-radius: 5px;
  }
}
.last{
  height: 1000px;
  clear: both;
}

.cart-item{
  // width: 70px;
  p{
    font-size: 14px;
    color: #e21b70;
    font-weight: light;
  }
  .cart-btns{
    text-align: right;
    i{
      color: #e21b70;
      font-weight: 100;
      font-size: 14px;
    }
  }
}
.checkout-btn{
  width: 320px;
  height: 48px;
}
