.plus-minus{
    display: flex;
    justify-content: space-between;
    .btns{
        button{
            margin: 10px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            padding: 5px 10px;
            text-align: center;
        }
    }
}
