
<div class="container">
  <div class="hero-caption">
    <h5>EAT, SLEEP, <span class="my-line"> ORDER REPEAT </span> </h5>
  </div>
</div>
<div class="hero-section">
</div>
<div class="container">
  <div class="row card-section">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Feel Your Tongue</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus voluptatibus. Esse, aspernatur a. Dolorum fuga eius unde voluptates inventore minima. Perspiciatis distinctio modi ea accusamus quasi eum earum voluptatum odio pariatur eius in reprehenderit, tempore explicabo ipsam maiores tempora numquam harum nemo ratione rerum, ducimus </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script>
//    $('.carousel').carousel({
//   interval: 2000
// })
</script>