td{
    font-size: 20px;
    i{
        font-size: 30px;
    }
    .fa-trash{
        color: crimson;
    }
    .fa-edit{
        color: darkcyan;
    }
}

.user-info{
    position: relative;
    .user-order{
        background-color: crimson;
        height: 20px;
        width: 20px;
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// .my-form{
//     max-width: 500px;
//     margin: auto;
//     padding: 20px;
//     background-color: #b3e5fc ;
//     margin-top: 30px;
//     border-radius: 20px;
//     box-shadow: 3px 6px 5px grey;
//     i{
//         font-size: 30px;
//         color: grey;
//     }
//     label{
//         font-size: 1.25rem;
//         font-weight: bold;
//         color: grey;
//     }
// }
