<div class="container">
  <div class="col-md-8 wow animate__animated animate__slideInRight">
    <div class="input-field">
         <input type="text" [(ngModel)]="searchUser" class="form-control mt-4">
    </div>
    <h4>Users</h4>
    <table class="highlight">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
  
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of users; let id = index">
          <tr *ngIf="searchUser === '' || (user.name).toLowerCase().includes(searchUser.toLowerCase())">
            <td> {{ id + 1 }}</td>
            <td  class = "user-info"> {{ user.name }} 
              <span class = "user-order" *ngIf = "user.order>0">{{user.order}}</span>
             </td>
            <td> {{ user.email }}</td>
            <td> {{ user.role }}</td>
            <td>
              <i (click)="deleteIt(user,'users')" class="fa fa-trash"></i>
            </td>
            <td>
                <button (click) = "changeStatus(user,'active')" *ngIf = "user.status === 'block'" class="btn green">Active</button>
                <button (click) = "changeStatus(user,'block')" *ngIf = "user.status === 'active'" class="btn red">Block</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>